<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPWuVDceJ5YP082fZcOHiA8zlUNuB63Gs</string>
	<key>GCM_SENDER_ID</key>
	<string>647500988143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobPhone</string>
	<key>PROJECT_ID</key>
	<string>jobphone-20fb7</string>
	<key>STORAGE_BUCKET</key>
	<string>jobphone-20fb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647500988143:ios:5e7190c3b05a33b6a0251a</string>
</dict>
</plist>